


.font_1 {
	background-color: black;
	color: yellow;
	font-size: large;
}
.font_2 {
	background-color: darkblue;
	color: white;
	font_size: medium;
} 


	.funky {
			background-color: black; 
			color:white;
			text-decoration: italic;
			fontsize: large;
	}	

h1{
	background-color:yellow;
}
p{ color:blue;}

	
	


