p {
    color: black;
}

p:hover {
    color: aqua;    
    
}

header {
    background-color:aqua;
    margin-top: 0%;
    margin-left: 0%;
    display: inline-flexbox;
    height: 5%;
    width: 100%

}


