<!!DOCTYPE html>
<html lang="en">
    <Head>
        <title>This is My New Title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href= "./CSS/New_CSS.css">
    
    </Head>
    <Body>

    <!-------------------------------Nav Section--------------------------------->
            <div class="wrap">
                <div class="menu-container">
                    <ul class="menu">
                        <a href="#home">Home</a>
                        <a href="#gallery">Gallery</a>
                        <a href="#contact">Contact</a>
                    </ul>
                </div>
            </div>
    <!------------------------end nav section------------------------------------->
    
    <!----------------------------Home-------------------------------------------->
            <div id="home">
                <div class="container">
                    <div class="text-center">
                        <span class="head-main">*Your Title Here*</span> <!--Main title for page-->
                    </div>
                </div>
            </div>
    <!----------------------------End Home---------------------------------------->
    
    <!----------------------------Gallery----------------------------------------->
            <section id="gallery">
                <div class="container">
                    <h1>Gallery</h1>
                    <div class="flex-container">
    <!----------------------------------------make Sure TO Use PNG Files Or Change Image Endiing-->
    <!-------------------------------------------------Photo Container 1-------------->                   
                        <div class="photo-caontainer">
                            <div class="photo">
                                <img src="./Images/Thumb/Thumbnail_1.png" alt="your alt text here">
                                <div class="photo-overlay">
                                    <h3>Click to Enlarge</h3>
                                    <p>Your tagline here</p>
                                </div>
                            </div>
                        </div>
    <!----------------------------------------------End Photo Container 1-------------->

    <!-------------------------------------------------Photo Container 2-------------->                   
    <div class="photo-caontainer">
        <div class="photo">
            <img src="./Images/Thumb/Thumbnail_2.png" alt="your alt text here">
            <div class="photo-overlay">
                <h3>Click to Enlarge</h3>
                <p>Your tagline here</p>
            </div>
        </div>
    </div>
<!----------------------------------------------End Photo Container 2-------------->

<!-------------------------------------------------Photo Container 3-------------->                   
<div class="photo-caontainer">
    <div class="photo">
        <img src="./Images/Thumb/Thumbnail_3.png" alt="your alt text here">
        <div class="photo-overlay">
            <h3>Click to Enlarge</h3>
            <p>Your tagline here</p>
        </div>
    </div>
</div>
<!----------------------------------------------End Photo Container 3-------------->

<!-------------------------------------------------Photo Container 4-------------->                   
<div class="photo-caontainer">
    <div class="photo">
        <img src="./Images/Thumb/Thumbnail_4.png" alt="your alt text here">
        <div class="photo-overlay">
            <h3>Click to Enlarge</h3>
            <p>Your tagline here</p>
        </div>
    </div>
</div>
<!----------------------------------------------End Photo Container 4-------------->

<!-------------------------------------------------Photo Container 5-------------->                   
<div class="photo-caontainer">
    <div class="photo">
        <img src="./Images/Thumb/Thumbnail_5.png" alt="your alt text here">
        <div class="photo-overlay">
            <h3>Click to Enlarge</h3>
            <p>Your tagline here</p>
        </div>
    </div>
</div>
<!----------------------------------------------End Photo Container 5-------------->

<!-------------------------------------------------Photo Container 6-------------->                   
<div class="photo-caontainer">
    <div class="photo">
        <img src="./Images/Thumb/Thumbnail_6.png" alt="your alt text here">
        <div class="photo-overlay">
            <h3>Click to Enlarge</h3>
            <p>Your tagline here</p>
        </div>
    </div>
</div>
<!----------------------------------------------End Photo Container 6-------------->

<!-------------------------------------------------Photo Container 7-------------->                   
<div class="photo-caontainer">
    <div class="photo">
        <img src="./Images/Thumb/Thumbnail_7.png" alt="your alt text here">
        <div class="photo-overlay">
            <h3>Click to Enlarge</h3>
            <p>Your tagline here</p>
        </div>
    </div>
</div>
<!----------------------------------------------End Photo Container 7-------------->

<!-------------------------------------------------Photo Container 8-------------->                   
<div class="photo-caontainer">
    <div class="photo">
        <img src="./Images/Thumb/Thumbnail_8.png" alt="your alt text here">
        <div class="photo-overlay">
            <h3>Click to Enlarge</h3>
            <p>Your tagline here</p>
        </div>
    </div>
</div>
<!----------------------------------------------End Photo Container 8-------------->

<!-------------------------------------------------Photo Container 9-------------->                   
<div class="photo-caontainer">
    <div class="photo">
        <img src="./Images/Thumb/Thumbnail_9.png" alt="your alt text here">
        <div class="photo-overlay">
            <h3>Click to Enlarge</h3>
            <p>Your tagline here</p>
        </div>
    </div>
</div>
<!----------------------------------------------End Photo Container 9-------------->
                    </div>
                </div>
            </section>
    <!---------------------------End gallery--------------------------------------->
    
    <!-------------------------Contact form---------------------------------------->
            <section id="contact">
                <div class="container">
                    <div class="heading-padding">
                        <h1 class="heading-padding">Contact Us</h1>
                        <div class="reservation">
                            <h2><span>Your tag Line Goes Here</span>
                                <br> Second Part of your tagline goes here
                            </h2>
                            <p class="rsvp-text">
                                Please Provide Us with your Basic Cont Information.
                            </p>
                            <div class="form-rsvp">
                                <form action="" method="post">
                                    <input class="rsvp" type="text" value="" placeholder="First Name">
                                    <input class="rsvp" type="text" value="" placeholder="Last Name">
                                    <input class="rsvp" type="text" value="" placeholder="Email Address">
                                    <input class="rsvp" type="text" value="" placeholder="Phone Number">
                                    <div class="form-spacer">
                                        <label class="terms">Terms and Conditions</label>
                                    </div>
                                    <div class="submit">
                                        <input type="submit" value="Submit">
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </section>
    <!------------------------------End contact------------------------------------->
    
    <!------------------------------Footer------------------------------------------>
            <div class="footer">
                www.yoururlhere.com &nbsp; | &nbsp; &copy; 2021
            </div>
    </Body>
</html>